#**List Comprehension**

In [ ]:
# Example 1
# This code iterates over a list and take the elements that are greater than 5.

a = [4,6,7,3,2]
b = [x for x in a if x > 5]
print(b)

[6, 7]

In [ ]:
# Example 2

string = [letter for letter in "Python"]
print(string)

['P', 'y', 't', 'h', 'o', 'n']

In [ ]:
#Example 3
# If we want each letter in uppercase

string = [letter.upper() for letter in "Python"]
print(string)

['P', 'Y', 'T', 'H', 'O', 'N']

#**Set Comprehension**

In [ ]:
# Example 1

strng_value = {'Python', 'Pandas', 'Numpy', 'Pandas'}
lowercase_items = {item.lower() for item in strng_value}

print(lowercase_items)

{'pandas', 'numpy', 'python'}

In [ ]:
# Example 2
# Python program to create a set containing square of all numbers from 1 to 6.

squares = {x**2 for x in range(1, 7)}
print(squares)

{1, 4, 36, 9, 16, 25}

In [ ]:
#Example 3
# Python program that contains the unique characters from the string.

word = "Programming"
my_set = {c for c in word}
print(my_set)

{'i', 'm', 'r', 'g', 'a', 'n', 'P', 'o'}

#**Dictionary Comprehension**

In [ ]:
# Example 1
# creating a dictionary from two items, one representing the keys and the other representing the values

keys = ['a', 'b', 'c', 'd', 'e']
values = [1, 2, 3, 4, 5]
my_dict = {k: v for k, v in zip(keys, values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# Example 2
# Python program to create a dictionary from a list of tuples.

people = [("Sophie", 25), ("Mandy", 30), ("Gigi", 22)]
people_dict = {name: age for name, age in people}
print(people_dict)

{'Sophie': 25, 'Mandy': 30, 'Gigi': 22}

In [ ]:
# Example 3
# Python program to count the occurrences of each character in the string.

word = "hello"
count_letter = {letter: word.count(letter) for letter in word}
print(count_letter)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

#**Generator Comprehension**

In [ ]:
# Example 1
# Generator comprehension to generate even numbers from a list

num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = (x for x in num if x % 2 == 0)

for even_number in even_num:
  print(even_number)

2
4
6
8
10

In [ ]:
# Example 2
# Python Program to generate multiples of 3 from 0 to 30 using generator comprehension

multiples_of_3 = (x for x in range(31) if x % 3 == 0)

for multiple in multiples_of_3:
    print(multiple)

0
3
6
9
12
15
18
21
24
27
30