<a href="https://colab.research.google.com/github/manishapoudel6/DataScienceBootCamp/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
flt1 = 3.145
print(flt1)
print(type(flt1))

3.145
<class 'float'>

In [ ]:
flt

In [3]:
#Complex: Combination of integer and imaginary numer integer or float is complex. It can be +ve and -ve. It is used for scientific calculation.

cmplx1 = 2+3j
print(cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>

In [4]:
# Boolean: True and False. Numeric value of true is 1 and numeric value of false is 0.

bool1 = True
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [5]:
#String: Any combination inside single quote, any combination inside double quotes, any combination inside triple single quotes and anu combination of inside triple double quotes.

str1 = 'Python Programming'
print(str1)
print(type(str1))

Python Programming
<class 'str'>

In [6]:
#double quote
tr1 = "Python Programming"
print(str1)
print(type(str1))

Python Programming
<class 'str'>

In [9]:
string1 = 'I am in love with this weather'
print(string1)
print(type(string1))

I am in love with this weather
<class 'str'>

In [10]:
string2 = "A data type is a classification of data which tells interpreter how the programmer intends to use the data"
print(string2)
print(type(string2))

A data type is a classification of data which tells interpreter how the programmer intends to use the data
<class 'str'>

In [11]:
string3 = """ Hey! Why don't we meet today at Noah's party?"""
print(string3)
print(type(string3))

 Hey! Why don't we meet today at Noah's party?
<class 'str'>

Data Structure data Types

In [12]:
#List
#List is mutable.
#List is represented by square bracket []

lst1 = [1,2,3,4,5,6]
print(lst1)
print(type(lst1))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [13]:
#Tuple
# Tuple is represented by circular bracket ()
# Tuple is immutable. Non changeable.

tup1 = (1,2,3,4,5,6)
print (tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [14]:
# Set
# 1. Set is combination of unique values
# 2. Set is collection of unordered elements
# 3. Set is represented by curly bracket{}
# 4. Set is mutable.

set1 = {'a','b','c','D',1,2,3,'!','#','@'}
print(set1)
print(type(set1))

{'b', 1, 2, 3, '!', '#', '@', 'a', 'c', 'D'}
<class 'set'>

In [16]:
list1 = [0.6,1,2,6.9,'a','k','Four','Apple',True,'3a']
print(list1)
print(type(list1))

[0.6, 1, 2, 6.9, 'a', 'k', 'Four', 'Apple', 'True', '3a']
<class 'list'>

In [17]:
tuple1 = (9.9, 100, 300, 'Six','x','f','4j')
print(tuple1)
print(type(tuple1))

(9.9, 100, 300, 'Six', 'x', 'f', '4j')
<class 'tuple'>

In [18]:
set1 = {'j', 1,3.6,7,'House','data','3x+1'}
print(set1)
print(type(set1))

{1, 3.6, '3x+1', 7, 'j', 'data', 'House'}
<class 'set'>

#Dictionary

In [19]:
dict1= {'a':'apple','b':'banana'}
print(dict1)
print(type(dict1))

{'a': 'apple', 'b': 'banana'}
<class 'dict'>

In [21]:
dict2 = {'x':'Four','y':'Five','z':'Ten'}
print(dict2)
print(type(dict2))

{'x': 'Four', 'y': 'Five', 'z': 'Ten'}
<class 'dict'>

In [24]:
st3 = "watermelon"
print(st3)
print(len(st3))

watermelon
10

In [25]:
print(st3[0])

w

In [27]:
print(st3[1])
print(st3[2])
print(st3[3])
print(st3[4])
print(st3[5])
print(st3[6])
print(st3[7])
print(st3[8])
print(st3[9])

a
t
e
r
m
e
l
o
n

In [28]:
st4 = 'My Name is Manisha'
print(st4[0])

M

In [30]:
st5 = 'Watermelonissweet'
print(st5[0:8])

Watermel

In [31]:
print(st5[0:8:1])

Watermel

In [38]:
strg = 'Missisippi'
print(strg[2:6]), print(strg[2:8:2], print(strg[10:1])), print(strg[1:9]), print(strg[3:8:2])

ssis

sii None
issisipp
ssp

(None, None, None, None)

In [44]:
strg1 = 'Missisippi'


print(strg1[::])
print(strg1[0::])
print(strg1[:len(strg1):])
print(strg1[::1])
print(strg1[:4:])
print(strg1[7::]) #[index:length:steps]

Missisippi
Missisippi
Missisippi
Missisippi
Miss
ppi