*** Friday Aug 11, 2023 ***

#BASIC PYTHON OPERATORS

In [ ]:
#Basic Python Arthemetic Operators
a = 100
b =20

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)  #reminder
print(a//b) #quotient
print(a**b) #Exponential multyply number multi times e.g multply 100 by 20 times

120
80
2000
5.0
0
5
10000000000000000000000000000000000000000

In [ ]:
# Comparison Operators

a = 100
b = 20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [ ]:
# Assignment Operatrors

# a = a+b => a += b

a = 100
b = 20

a += b
print(a,b)

a-+b
print(a,b)

a *= b
print(a, b)


a = 100
b = 20

a /= b
print(a, b)


a = 100
b = 20

a %= b
print(a, b)


a = 100
b = 20

a //= b
print(a, b)


a = 100
b = 2

a **= b
print(a, b)

120 20
120 20
2400 20
5.0 20
0 20
5 20
10000 2

In [ ]:
a = 100
b = 20
# Both the condition should be true in AND Operator
print(a> 80 and b< 80)
print(a == 80 and b< 80)
print(a < 80 and b< 80)
print(a> 80 and b >80)

True
False
False
False

In [ ]:
a = 100
b = 20
# At least one condition True then the output is true the condition in OR Operator
print(a> 80 or b< 80)
print(a == 80 or b< 80)
print(a < 80 or b< 80)
print(a < 80 or b >80)

True
True
True
False

In [ ]:
# Not Operator

In [ ]:
# Python Membership Operators

a = 100
b =[100,200,300,400]

a in b

True

In [ ]:
a= 100
b =[100,200,300,400,500]

a in b

True

In [ ]:
a = 100
b = [100,200,300,400,500]

a not in b

False

In [ ]:
a= 600
b= [100,200,300,400,500]

a not in b

True

In [ ]:
# nPython identity Operator

a = 100
b = 20

a is b
a is not b

True

In [ ]:
a = 100
b = 100

a is b
a is not b

False

In [ ]:
x = 4
y =9

x is y
x is not y

True

In [ ]:
x =2
u =2

x is u
x is not u

False

*** IF/ELSE statements in Python***

In [ ]:
a = 100
b = 20

if a > b: # True
  print('a is greater than b')

a is greater than b

In [ ]:
a = 100
b =20

if (a>b) and (a !=b): #Both condition hass to be true
  print('a is greater than b') #True

a is greater than b

In [ ]:
if (a<b) and (a == b):
  print('a is greater than b') #False and the output wont be executated

In [ ]:
a = 100
b = 20

if (a > b) or (a == b): # True
  print('a is greater than b')

a is greater than b

In [ ]:
a = 100
b = 20

if (a < b) or (a != b): # True
  print('a is greater than b')

a is greater than b

In [ ]:
a = 100
b = 20

if (a > b) or (a == b): # True
  print('a is greater than b')

a is greater than b

In [ ]:
a = 100
b = 20

if (a < b) or (a == b): # False
  print('a is greater than b')

In [ ]:
a = 100
b = 20

if (a < b) or (a == b): # False
  print('a is greater than b')
else:
  print('we are in else section')

we are in else section

In [ ]:
percentage = 78

if percentage >=75:
  print('First class with distinction')
elif percentage >=60:
  print('First class')
elif percentage >= 40:
  print('second class')
elif percentage >= 35:
  print('third class')
else:
  print('better luck next time')

First class with distinction

In [ ]:
number = 30


if number > 20:
  print('GREATER')

elif number < 40:
  print('SMALLER')

else:
  print('Nothing')

GREATER

In [ ]:
#Nested if

a = 123

if(a < 200):
  print('if(a < 200):')
  if (a < 175):
    print('if(a < 175):')
    if(a < 150):
      print('if(a < 150):')
      if (a <100):
        print('if(a < 100):')
        if (a < 75):
          print('if(a < 75):')
        else:
            print('else if (a < 75):')
      else:
          print('else if (a < 100):')
    else:
        print('else if (a < 150):')
  else:
      print('else if (a < 175):')
else:
    print('else if (a < 200):')

if(a < 200):
if(a < 175):
if(a < 150):
else if (a < 100):

In [ ]:
mark = 65

if(mark > 40):
  print('if(mark > 40):')
  if(mark > 50):
    print('if(mark > 50):')
    if(mark > 60):
      print('if(mark > 60):')
      if(mark > 70):
        print('if(mark > 70):')
        if(mark > 80):
          print('if(mark > 80):')
        else:
          print('else if (mark > 80):')
      else:
        print('else if(mark > 70):')
    else:
      print('else if(mark > 60):')
  else:
    print('else if(mark > 50):')
else:
  print('else if(mark > 40):')

if(mark > 40):
if(mark > 50):
if(mark > 60):
else if(mark > 70):

*** While loop***

In [ ]:
# while loop
# while loops works for when your condition is True.

a = 100

while a > 10: # This condition is true tghat mean it keeps going till its True. It will terminated once it gets false.
  print(a, 'is greater than 10')
  a -= 1

100 is greater than 10
99 is greater than 10
98 is greater than 10
97 is greater than 10
96 is greater than 10
95 is greater than 10
94 is greater than 10
93 is greater than 10
92 is greater than 10
91 is greater than 10
90 is greater than 10
89 is greater than 10
88 is greater than 10
87 is greater than 10
86 is greater than 10
85 is greater than 10
84 is greater than 10
83 is greater than 10
82 is greater than 10
81 is greater than 10
80 is greater than 10
79 is greater than 10
78 is greater than 10
77 is greater than 10
76 is greater than 10
75 is greater than 10
74 is greater than 10
73 is greater than 10
72 is greater than 10
71 is greater than 10
70 is greater than 10
69 is greater than 10
68 is greater than 10
67 is greater than 10
66 is greater than 10
65 is greater than 10
64 is greater than 10
63 is greater than 10
62 is greater than 10
61 is greater than 10
60 is greater than 10
59 is greater than 10
58 is greater than 10
57 is greater than 10
56 is greater than 10
55 is greater than 10
54 is greater than 10
53 is greater than 10
52 is greater than 10
51 is greater than 10
50 is greater than 10
49 is greater than 10
48 is greater than 10
47 is greater than 10
46 is greater than 10
45 is greater than 10
44 is greater than 10
43 is greater than 10
42 is greater than 10
41 is greater than 10
40 is greater than 10
39 is greater than 10
38 is greater than 10
37 is greater than 10
36 is greater than 10
35 is greater than 10
34 is greater than 10
33 is greater than 10
32 is greater than 10
31 is greater than 10
30 is greater than 10
29 is greater than 10
28 is greater than 10
27 is greater than 10
26 is greater than 10
25 is greater than 10
24 is greater than 10
23 is greater than 10
22 is greater than 10
21 is greater than 10
20 is greater than 10
19 is greater than 10
18 is greater than 10
17 is greater than 10
16 is greater than 10
15 is greater than 10
14 is greater than 10
13 is greater than 10
12 is greater than 10
11 is greater than 10

In [ ]:
a = 10

while a < 100:
  print(a, 'is less than 100')
  a += 10

10 is less than 100
20 is less than 100
30 is less than 100
40 is less than 100
50 is less than 100
60 is less than 100
70 is less than 100
80 is less than 100
90 is less than 100

In [ ]:
i < 200 by 10 i > 200 -20

In [ ]:
i = 25

while i < 200:
  print(i, 'is less than 200')
  i += 10

25 is less than 200
35 is less than 200
45 is less than 200
55 is less than 200
65 is less than 200
75 is less than 200
85 is less than 200
95 is less than 200
105 is less than 200
115 is less than 200
125 is less than 200
135 is less than 200
145 is less than 200
155 is less than 200
165 is less than 200
175 is less than 200
185 is less than 200
195 is less than 200

In [ ]:
i = 500

while i > 200:
  print(i, 'is greater than 200')
  i -= 20

500 is greater than 200
480 is greater than 200
460 is greater than 200
440 is greater than 200
420 is greater than 200
400 is greater than 200
380 is greater than 200
360 is greater than 200
340 is greater than 200
320 is greater than 200
300 is greater than 200
280 is greater than 200
260 is greater than 200
240 is greater than 200
220 is greater than 200

In [ ]:
# break continue and pass

In [ ]:
a = 10

while a < 100:
  if a == 50:
    break
  print(a, 'is less than 100')
  a += 10

10 is less than 100
20 is less than 100
30 is less than 100
40 is less than 100

In [ ]:
a = 10

while a < 100:

  a += 10

  if a == 50:
    continue
  print(a, 'is less than 100')

20 is less than 100
30 is less than 100
40 is less than 100
60 is less than 100
70 is less than 100
80 is less than 100
90 is less than 100
100 is less than 100

In [ ]:
a = 200

while(a < 500): #execute any program
  pass

KeyboardInterrupt: ignored

In [ ]:
write a program 0 to 100 and find odd and even number; use while loop

In [ ]:
num = 1

while num <= 100:


  if num % 2 == 0:
    print("Odd number",num)
  else:
    print("Even number",num)

  num += 1

Even number 1
Odd number 2
Even number 3
Odd number 4
Even number 5
Odd number 6
Even number 7
Odd number 8
Even number 9
Odd number 10
Even number 11
Odd number 12
Even number 13
Odd number 14
Even number 15
Odd number 16
Even number 17
Odd number 18
Even number 19
Odd number 20
Even number 21
Odd number 22
Even number 23
Odd number 24
Even number 25
Odd number 26
Even number 27
Odd number 28
Even number 29
Odd number 30
Even number 31
Odd number 32
Even number 33
Odd number 34
Even number 35
Odd number 36
Even number 37
Odd number 38
Even number 39
Odd number 40
Even number 41
Odd number 42
Even number 43
Odd number 44
Even number 45
Odd number 46
Even number 47
Odd number 48
Even number 49
Odd number 50
Even number 51
Odd number 52
Even number 53
Odd number 54
Even number 55
Odd number 56
Even number 57
Odd number 58
Even number 59
Odd number 60
Even number 61
Odd number 62
Even number 63
Odd number 64
Even number 65
Odd number 66
Even number 67
Odd number 68
Even number 69
Odd number 70
Even number 71
Odd number 72
Even number 73
Odd number 74
Even number 75
Odd number 76
Even number 77
Odd number 78
Even number 79
Odd number 80
Even number 81
Odd number 82
Even number 83
Odd number 84
Even number 85
Odd number 86
Even number 87
Odd number 88
Even number 89
Odd number 90
Even number 91
Odd number 92
Even number 93
Odd number 94
Even number 95
Odd number 96
Even number 97
Odd number 98
Even number 99
Odd number 100

In [ ]:
num = 0

while num <= 100:
  num += 2
  print(num,'is even')
  print(num+1, 'is odd')

2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
21 is odd
22 is even
23 is odd
24 is even
25 is odd
26 is even
27 is odd
28 is even
29 is odd
30 is even
31 is odd
32 is even
33 is odd
34 is even
35 is odd
36 is even
37 is odd
38 is even
39 is odd
40 is even
41 is odd
42 is even
43 is odd
44 is even
45 is odd
46 is even
47 is odd
48 is even
49 is odd
50 is even
51 is odd
52 is even
53 is odd
54 is even
55 is odd
56 is even
57 is odd
58 is even
59 is odd
60 is even
61 is odd
62 is even
63 is odd
64 is even
65 is odd
66 is even
67 is odd
68 is even
69 is odd
70 is even
71 is odd
72 is even
73 is odd
74 is even
75 is odd
76 is even
77 is odd
78 is even
79 is odd
80 is even
81 is odd
82 is even
83 is odd
84 is even
85 is odd
86 is even
87 is odd
88 is even
89 is odd
90 is even
91 is odd
92 is even
93 is odd
94 is even
95 is odd
96 is even
97 is odd
98 is even
99 is odd
100 is even
101 is odd
102 is even
103 is odd

In [ ]:
total = 0
num = int(input('enter a number'))

while num != 0:
  total += num
  num = int(input('enter a number'))

enter a number1
enter a number2
enter a number3
enter a number4
enter a number5
enter a number6
enter a number7
enter a number8
enter a number9
enter a number0

In [ ]:
total = 0
num = int(input('enter a number'))

while num != 0:
  total += num
  num = int(input('enter a number'))
print(total)

enter a number1
enter a number2
enter a number55
enter a number77
enter a number88
enter a number99
enter a number0
322

In [ ]:
count = 0
age =int(input('Enter your age:-'))

while age >= 18:
  count += 1
  age =int(input('Enter your age:-'))

print('Total number of 18+ :',count)

Enter your age:-19
Enter your age:-67
Enter your age:-34
Enter your age:-12
Total number of 18+ : 3

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10,11,22,33,44,55,66,110,12,23,34,45,56,67,78,89,90]

while list:
  print(list.pop())

90
89
78
67
56
45
34
23
12
110
66
55
44
33
22
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# write a program where number is divisible by 5 and 7.

num1 = int(input('Enter a number:-'))

while(num1%5 == 0) and (num1%7 == 0):
  print(num1,'is divisible by 5 and 7')
  break
else:
  print(num1, 'is not divisible by 5 and 7')

Enter a number:-35
35 is divisible by 5 and 7

Tuesday August 15, 2023

*** For Loop***

In [ ]:
#For Loop
#it execute one value at atime
#value will be displayed in unordered way

lst1 = [12,23,34,45,56,67,78,89,90,21,32,43,54,76,87,98,9]

for i in lst1:

  print('value of i',i)

value of i 12
value of i 23
value of i 34
value of i 45
value of i 56
value of i 67
value of i 78
value of i 89
value of i 90
value of i 21
value of i 32
value of i 43
value of i 54
value of i 76
value of i 87
value of i 98
value of i 9

In [ ]:
tup1 = ('apple','banana','cherries','dates','eggfruit','figs','grapes','honeyfruit')

for i in tup1:
  print('value of i',i)

value of i apple
value of i banana
value of i cherries
value of i dates
value of i eggfruit
value of i figs
value of i grapes
value of i honeyfruit

In [ ]:
set1 ={'apple','banana','cherries','dates','eggfruit','figs','grapes','honeyfruit',12,23,34,45,56,67,78,89,90,21,32,43,54,76,87,98,9}

for i in set1:

  print('value of i', i)

value of i honeyfruit
value of i 67
value of i 9
value of i 12
value of i 76
value of i grapes
value of i 78
value of i eggfruit
value of i banana
value of i 21
value of i 23
value of i cherries
value of i 87
value of i 89
value of i 90
value of i 32
value of i 34
value of i 98
value of i apple
value of i dates
value of i 43
value of i 45
value of i 54
value of i 56
value of i figs

In [ ]:
str1 = 'Peppa Prefer Python Programming'
print(len(str1))
for i in str1:
  print('value of i', i)

31
value of i P
value of i e
value of i p
value of i p
value of i a
value of i
value of i P
value of i r
value of i e
value of i f
value of i e
value of i r
value of i
value of i P
value of i y
value of i t
value of i h
value of i o
value of i n
value of i
value of i P
value of i r
value of i o
value of i g
value of i r
value of i a
value of i m
value of i m
value of i i
value of i n
value of i g

In [ ]:
dict = {'a':'apple','b':'ball','c':'cat'}

for i in dict:
  print('value of i', i)

value of i a
value of i b
value of i c

In [ ]:
for i in range(10): # In 10 index will start with 0-9 being 10 elements.
  print('value of i', i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [ ]:
for i in range(0,10,1):
  print('value of i', i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [ ]:
list = [1,4,5,6,7,8,88,77,55,66,23,45,67,89,90,5,6,]

for i in list:
  print('value of i', i)

value of i 1
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 88
value of i 77
value of i 55
value of i 66
value of i 23
value of i 45
value of i 67
value of i 89
value of i 90
value of i 5
value of i 6

In [ ]:
tup = ('nine','one','two','three','house','cat')

for i in tup:
  print('value of i', i)

value of i nine
value of i one
value of i two
value of i three
value of i house
value of i cat

In [ ]:
set = {'a','b','c','d','e','p'}

for i in set:
  print('value of i', i)

value of i b
value of i a
value of i d
value of i e
value of i p
value of i c

In [ ]:
str = '  Hello World'

for i in str:
  print('value of i', i)

value of i
value of i
value of i H
value of i e
value of i l
value of i l
value of i o
value of i
value of i W
value of i o
value of i r
value of i l
value of i d

In [ ]:
dict = {'I':'Ice-cream','P':'Peppa','B':'Bluey'}

for i in dict:
  print('value of i', i)

value of i I
value of i P
value of i B

In [ ]:
for i in range(0,10,1):
  print('value of i', i)

value of i 0
value of i 1
value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [ ]:
for i in range(2,10):
  print('value of i', i)

value of i 2
value of i 3
value of i 4
value of i 5
value of i 6
value of i 7
value of i 8
value of i 9

In [ ]:
for i in range(-10,-1):
  print('value of i', i)

value of i -10
value of i -9
value of i -8
value of i -7
value of i -6
value of i -5
value of i -4
value of i -3
value of i -2

In [ ]:
for i in range(-10,-1,2):
  print('value of i', i)

value of i -10
value of i -8
value of i -6
value of i -4
value of i -2

In [ ]:
for i in range(-1,-10,-2):
  print('value of i', i)

value of i -1
value of i -3
value of i -5
value of i -7
value of i -9

In [ ]:
for i in range(10): #10 times in row #0,1,2,3,4,5,6,7,8,9
  for j in range(10): #10 times in column #0,1,2,3,4,5,6,7,8,9
    print('*', end=' ')
  print('\r') #it keeps changing the row # /n gives large space and /r gives small space

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(10): #10 times in row #0,1,2,3,4,5,6,7,8,9
  for j in range(10): #10 times in column #0,1,2,3,4,5,6,7,8,9
    print('*', end=' ')
  print('\n')

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [ ]:
a = 0
for i in range(10):
  for j in range(10):
    print( a,end=' ')
    a+=1

  print('\r')

0 1 2 3 4 5 6 7 8 9
10 11 12 13 14 15 16 17 18 19
20 21 22 23 24 25 26 27 28 29
30 31 32 33 34 35 36 37 38 39
40 41 42 43 44 45 46 47 48 49
50 51 52 53 54 55 56 57 58 59
60 61 62 63 64 65 66 67 68 69
70 71 72 73 74 75 76 77 78 79
80 81 82 83 84 85 86 87 88 89
90 91 92 93 94 95 96 97 98 99

In [ ]:
a = 0
for i in range(10):
  for j in range(10):
    print( a,end=' ')
    a+=1

  print('\n')

0 1 2 3 4 5 6 7 8 9

10 11 12 13 14 15 16 17 18 19

20 21 22 23 24 25 26 27 28 29

30 31 32 33 34 35 36 37 38 39

40 41 42 43 44 45 46 47 48 49

50 51 52 53 54 55 56 57 58 59

60 61 62 63 64 65 66 67 68 69

70 71 72 73 74 75 76 77 78 79

80 81 82 83 84 85 86 87 88 89

90 91 92 93 94 95 96 97 98 99

In [ ]:
for i in range(10):
  for j in range(10):
    print('Hello World', end=' ')
  print('\r')

Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World
Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World

In [ ]:
a = 0
for i in range(10):
  for j in range(10):
    a+=1
    print( a,end='  ')


  print('\r')

1  2  3  4  5  6  7  8  9  10
11  12  13  14  15  16  17  18  19  20
21  22  23  24  25  26  27  28  29  30
31  32  33  34  35  36  37  38  39  40
41  42  43  44  45  46  47  48  49  50
51  52  53  54  55  56  57  58  59  60
61  62  63  64  65  66  67  68  69  70
71  72  73  74  75  76  77  78  79  80
81  82  83  84  85  86  87  88  89  90
91  92  93  94  95  96  97  98  99  100

In [ ]:
 for i in range(10): #draw ten row
  for j in range(0,10-i): #it is for spaces
    print(' ', end='')
  for k in range(0,i+1): #it is for astrisk and value of i is '0'
    print('*', end =' ')
  print('\r') #this statement to nchange the line

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
for i in range(10):
  for j in range(0,10+i):
    print(' ', end='')
  for k in range(0,i+1):
    print('*', end =' ')
  print('\r')

          *
           * *
            * * *
             * * * *
              * * * * *
               * * * * * *
                * * * * * * *
                 * * * * * * * *
                  * * * * * * * * *
                   * * * * * * * * * *

In [ ]:
for i in range(10):
  for j in range(0,i):
    print(' ', end='')
  for k in range(0,10-i):
    print('*', end =' ')
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
for i in range(10):
  for j in range(0,i):
    print(' ', end='')
  for k in range(0,10-i):
    print('*', end =' ')
  print('\r')
for i in range(9):
  for j in range(0,10-i-2):
    print(' ', end='')
  for k in range(0,i+2):
    print('*', end =' ')
  print('\r')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(12):
  for j in range(0,12-i):
    print(' ', end = '')
  for k in range(0,i+1):
    print('*',end =" ")
  print('\r')

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *
     * * * * * * * *
    * * * * * * * * *
   * * * * * * * * * *
  * * * * * * * * * * *
 * * * * * * * * * * * *

In [ ]:
for i in range(12):
  for j in range(0,12-i):
    print(' ', end = '')
  for k in range(1,i+1):
    print('*',end =" ")
  print('\r')

           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *
   * * * * * * * * *
  * * * * * * * * * *
 * * * * * * * * * * *

In [88]:

for i in range(10):
  for j in range(0,10-i):
    print(' ', end='')

  for k in range(2*i+1):
    if k==0 or k==2*i or i==9:
      print('*',end='')
    else:
      print(' ', end='')
  print()

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 *******************

In [84]:



for i in range(10):
    for j in range(0,10 - i ):
        print('',end = ' ')
    for k in range(0, (i+1)):
        print(chr(65+k), end=' ')
    print('\n')

          A

         A B

        A B C

       A B C D

      A B C D E

     A B C D E F

    A B C D E F G

   A B C D E F G H

  A B C D E F G H I

 A B C D E F G H I J

In [106]:
for i in range(10):

  for j in range(0,10-i):
    print(' ', end='')

  for j in range(2*i+1):


    if j==0 or j==2*i or i==9:

      print('*',end='')
    else:
      print(' ', end='')


  print()

          *
         * *
        *   *
       *     *
      *       *
     *         *
    *           *
   *             *
  *               *
 *******************

In [103]:
k=ord('A')

for i in range(0, 10):

  for j in range(0, 10-i):

    print(' ', end='')



  for l in range(0, i+1):

    if k <=90:

      print(chr(k), end='  ')

    k+=1

  print('\r')

          A
         B  C
        D  E  F
       G  H  I  J
      K  L  M  N  O
     P  Q  R  S  T  U
    V  W  X  Y  Z

In [35]:
k=ord('A')
print(k)

65

In [39]:
for i in range(0, 10):

  for j in range(0, 10-i):

    print(' ', end='')
  for l in range(0,i+1):

    print(chr(65+l), end=' ')
  print('\n')

          A

         A B

        A B C

       A B C D

      A B C D E

     A B C D E F

    A B C D E F G

   A B C D E F G H

  A B C D E F G H I

 A B C D E F G H I J

In [54]:


for i in range(1, 11):
  for j in range(1, 11-i):
   print(' ', end='')

  for k in range(1, i+1):
    print(k, end=' ')

  print('\r')

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [60]:
for i in range(1, 11):
  for j in range(1, i+1):
    print(' ', end='')

  for k in range(1, 12-i):
    print(k, end=' ')

  print('\r')

 1 2 3 4 5 6 7 8 9 10
  1 2 3 4 5 6 7 8 9
   1 2 3 4 5 6 7 8
    1 2 3 4 5 6 7
     1 2 3 4 5 6
      1 2 3 4 5
       1 2 3 4
        1 2 3
         1 2
          1

In [100]:
for i in range(14):
  for j in range(0,14-i):
    print('-', end = '')
  for k in range(0,i+1):
    print('#',end =" ")
  print('\r')

--------------#
-------------# #
------------# # #
-----------# # # #
----------# # # # #
---------# # # # # #
--------# # # # # # #
-------# # # # # # # #
------# # # # # # # # #
-----# # # # # # # # # #
----# # # # # # # # # # #
---# # # # # # # # # # # #
--# # # # # # # # # # # # #
-# # # # # # # # # # # # # #

In [99]:
for i in range(14):
  for j in range(0,i+1):
    print('-', end = '')
  for k in range(0,14-i):
    print('#',end =" ")
  print('\r')

-# # # # # # # # # # # # # #
--# # # # # # # # # # # # #
---# # # # # # # # # # # #
----# # # # # # # # # # #
-----# # # # # # # # # #
------# # # # # # # # #
-------# # # # # # # #
--------# # # # # # #
---------# # # # # #
----------# # # # #
-----------# # # #
------------# # #
-------------# #
--------------#

In [108]:
for i in range(10):
  for j in range(0,i):
    print(' ', end='')
  for k in range(0,10-i):
    if j==0 or j==2*i or i==9:
      print('*', end =' ')
    else:
      print(' ', end='')

for i in range(9):
  for j in range(0,10-i-2):
    print(' ', end='')
  for k in range(0,i+2):
    print('*', end =' ')
  print('\r')

* * * * * * * * * *  * * * * * * * * *                                                                                *         * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

#fibonacci series

In [110]:
#It performs addition of last two numbers
#It always take two values and assign it to the third variable.

#0,1,1,2,3,5,8,13,21,34...

a = 0
b = 1

c = a + b
print(c)

1

In [111]:
a = 1
b = 1

c = a+b
print(c)

2

In [112]:
a=1
b=2

c = 1+2
print(c)

3

In [23]:



a = 0
b = 1
print(a, b, end=' ')
for i in range(30):
  c = a + b
  print(c, end=' ')
  a = b
  b = c

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269

In [4]:
stu_record ={'Sameer':89, 'Sabina': 87, 'Indeer': 37, 'Keshav':57, 'kistpo':31}

for keys,values in stu_record.items():

  print(keys, values)

Sameer 89
Sabina 87
Indeer 37
Keshav 57
kistpo 31

In [21]:
stu_record ={'Sameer':92, 'Sabina': 87, 'Indeer': 37, 'Keshav':57, 'kistpo':31}

for keys,values in stu_record.items():


  if values > 90:
    print(keys, values, 'Distinction!')
  elif values> 80:
    print(keys, values, 'Very good!')
  elif values > 75:
    print(keys, values, 'Good!')
  elif values > 50:
    print(keys, values, "You've passed!")
  else:
    print(keys, values, "You've failed!")

Sameer 92 Distinction!
Sabina 87 Very good!
Indeer 37 You've failed!
Keshav 57 You've passed!
kistpo 31 You've failed!