#Function

1.Built-in function 2.User Define function

In [ ]:
# Type casting Functions

int(), float(), complex(), bool(), str()
list(), tuple(), set(), dict()

In [ ]:
int1 = 1947

print(float(int1))
print(complex(int1))
print(bool(int1))
print(str(int1))
 #print(list(int1)) # TypeError : 'int' objectv is not iterable.
 #print(tuple(int1))# TypeError : 'int' objectv is not iterable.
 #print(set(int1))  # TypeError : 'int' objectv is not iterable.
 #print(dict(int1)) # TypeError : 'int' objectv is not iterable.

1947.0
(1947+0j)
True
1947

In [ ]:
#decimal => bin(), oct(), hexa()

for i in range (0,100):
  print('Decimal:',i)
  print('Binary:' ,bin(i))
  print('Octa Decimal:',oct(i))
  print('Hexa Decimal:', hex(i))

Decimal: 0
Binary: 0b0
Octa Decimal: 0o0
Hexa Decimal: 0x0
Decimal: 1
Binary: 0b1
Octa Decimal: 0o1
Hexa Decimal: 0x1
Decimal: 2
Binary: 0b10
Octa Decimal: 0o2
Hexa Decimal: 0x2
Decimal: 3
Binary: 0b11
Octa Decimal: 0o3
Hexa Decimal: 0x3
Decimal: 4
Binary: 0b100
Octa Decimal: 0o4
Hexa Decimal: 0x4
Decimal: 5
Binary: 0b101
Octa Decimal: 0o5
Hexa Decimal: 0x5
Decimal: 6
Binary: 0b110
Octa Decimal: 0o6
Hexa Decimal: 0x6
Decimal: 7
Binary: 0b111
Octa Decimal: 0o7
Hexa Decimal: 0x7
Decimal: 8
Binary: 0b1000
Octa Decimal: 0o10
Hexa Decimal: 0x8
Decimal: 9
Binary: 0b1001
Octa Decimal: 0o11
Hexa Decimal: 0x9
Decimal: 10
Binary: 0b1010
Octa Decimal: 0o12
Hexa Decimal: 0xa
Decimal: 11
Binary: 0b1011
Octa Decimal: 0o13
Hexa Decimal: 0xb
Decimal: 12
Binary: 0b1100
Octa Decimal: 0o14
Hexa Decimal: 0xc
Decimal: 13
Binary: 0b1101
Octa Decimal: 0o15
Hexa Decimal: 0xd
Decimal: 14
Binary: 0b1110
Octa Decimal: 0o16
Hexa Decimal: 0xe
Decimal: 15
Binary: 0b1111
Octa Decimal: 0o17
Hexa Decimal: 0xf
Decimal: 16
Binary: 0b10000
Octa Decimal: 0o20
Hexa Decimal: 0x10
Decimal: 17
Binary: 0b10001
Octa Decimal: 0o21
Hexa Decimal: 0x11
Decimal: 18
Binary: 0b10010
Octa Decimal: 0o22
Hexa Decimal: 0x12
Decimal: 19
Binary: 0b10011
Octa Decimal: 0o23
Hexa Decimal: 0x13
Decimal: 20
Binary: 0b10100
Octa Decimal: 0o24
Hexa Decimal: 0x14
Decimal: 21
Binary: 0b10101
Octa Decimal: 0o25
Hexa Decimal: 0x15
Decimal: 22
Binary: 0b10110
Octa Decimal: 0o26
Hexa Decimal: 0x16
Decimal: 23
Binary: 0b10111
Octa Decimal: 0o27
Hexa Decimal: 0x17
Decimal: 24
Binary: 0b11000
Octa Decimal: 0o30
Hexa Decimal: 0x18
Decimal: 25
Binary: 0b11001
Octa Decimal: 0o31
Hexa Decimal: 0x19
Decimal: 26
Binary: 0b11010
Octa Decimal: 0o32
Hexa Decimal: 0x1a
Decimal: 27
Binary: 0b11011
Octa Decimal: 0o33
Hexa Decimal: 0x1b
Decimal: 28
Binary: 0b11100
Octa Decimal: 0o34
Hexa Decimal: 0x1c
Decimal: 29
Binary: 0b11101
Octa Decimal: 0o35
Hexa Decimal: 0x1d
Decimal: 30
Binary: 0b11110
Octa Decimal: 0o36
Hexa Decimal: 0x1e
Decimal: 31
Binary: 0b11111
Octa Decimal: 0o37
Hexa Decimal: 0x1f
Decimal: 32
Binary: 0b100000
Octa Decimal: 0o40
Hexa Decimal: 0x20
Decimal: 33
Binary: 0b100001
Octa Decimal: 0o41
Hexa Decimal: 0x21
Decimal: 34
Binary: 0b100010
Octa Decimal: 0o42
Hexa Decimal: 0x22
Decimal: 35
Binary: 0b100011
Octa Decimal: 0o43
Hexa Decimal: 0x23
Decimal: 36
Binary: 0b100100
Octa Decimal: 0o44
Hexa Decimal: 0x24
Decimal: 37
Binary: 0b100101
Octa Decimal: 0o45
Hexa Decimal: 0x25
Decimal: 38
Binary: 0b100110
Octa Decimal: 0o46
Hexa Decimal: 0x26
Decimal: 39
Binary: 0b100111
Octa Decimal: 0o47
Hexa Decimal: 0x27
Decimal: 40
Binary: 0b101000
Octa Decimal: 0o50
Hexa Decimal: 0x28
Decimal: 41
Binary: 0b101001
Octa Decimal: 0o51
Hexa Decimal: 0x29
Decimal: 42
Binary: 0b101010
Octa Decimal: 0o52
Hexa Decimal: 0x2a
Decimal: 43
Binary: 0b101011
Octa Decimal: 0o53
Hexa Decimal: 0x2b
Decimal: 44
Binary: 0b101100
Octa Decimal: 0o54
Hexa Decimal: 0x2c
Decimal: 45
Binary: 0b101101
Octa Decimal: 0o55
Hexa Decimal: 0x2d
Decimal: 46
Binary: 0b101110
Octa Decimal: 0o56
Hexa Decimal: 0x2e
Decimal: 47
Binary: 0b101111
Octa Decimal: 0o57
Hexa Decimal: 0x2f
Decimal: 48
Binary: 0b110000
Octa Decimal: 0o60
Hexa Decimal: 0x30
Decimal: 49
Binary: 0b110001
Octa Decimal: 0o61
Hexa Decimal: 0x31
Decimal: 50
Binary: 0b110010
Octa Decimal: 0o62
Hexa Decimal: 0x32
Decimal: 51
Binary: 0b110011
Octa Decimal: 0o63
Hexa Decimal: 0x33
Decimal: 52
Binary: 0b110100
Octa Decimal: 0o64
Hexa Decimal: 0x34
Decimal: 53
Binary: 0b110101
Octa Decimal: 0o65
Hexa Decimal: 0x35
Decimal: 54
Binary: 0b110110
Octa Decimal: 0o66
Hexa Decimal: 0x36
Decimal: 55
Binary: 0b110111
Octa Decimal: 0o67
Hexa Decimal: 0x37
Decimal: 56
Binary: 0b111000
Octa Decimal: 0o70
Hexa Decimal: 0x38
Decimal: 57
Binary: 0b111001
Octa Decimal: 0o71
Hexa Decimal: 0x39
Decimal: 58
Binary: 0b111010
Octa Decimal: 0o72
Hexa Decimal: 0x3a
Decimal: 59
Binary: 0b111011
Octa Decimal: 0o73
Hexa Decimal: 0x3b
Decimal: 60
Binary: 0b111100
Octa Decimal: 0o74
Hexa Decimal: 0x3c
Decimal: 61
Binary: 0b111101
Octa Decimal: 0o75
Hexa Decimal: 0x3d
Decimal: 62
Binary: 0b111110
Octa Decimal: 0o76
Hexa Decimal: 0x3e
Decimal: 63
Binary: 0b111111
Octa Decimal: 0o77
Hexa Decimal: 0x3f
Decimal: 64
Binary: 0b1000000
Octa Decimal: 0o100
Hexa Decimal: 0x40
Decimal: 65
Binary: 0b1000001
Octa Decimal: 0o101
Hexa Decimal: 0x41
Decimal: 66
Binary: 0b1000010
Octa Decimal: 0o102
Hexa Decimal: 0x42
Decimal: 67
Binary: 0b1000011
Octa Decimal: 0o103
Hexa Decimal: 0x43
Decimal: 68
Binary: 0b1000100
Octa Decimal: 0o104
Hexa Decimal: 0x44
Decimal: 69
Binary: 0b1000101
Octa Decimal: 0o105
Hexa Decimal: 0x45
Decimal: 70
Binary: 0b1000110
Octa Decimal: 0o106
Hexa Decimal: 0x46
Decimal: 71
Binary: 0b1000111
Octa Decimal: 0o107
Hexa Decimal: 0x47
Decimal: 72
Binary: 0b1001000
Octa Decimal: 0o110
Hexa Decimal: 0x48
Decimal: 73
Binary: 0b1001001
Octa Decimal: 0o111
Hexa Decimal: 0x49
Decimal: 74
Binary: 0b1001010
Octa Decimal: 0o112
Hexa Decimal: 0x4a
Decimal: 75
Binary: 0b1001011
Octa Decimal: 0o113
Hexa Decimal: 0x4b
Decimal: 76
Binary: 0b1001100
Octa Decimal: 0o114
Hexa Decimal: 0x4c
Decimal: 77
Binary: 0b1001101
Octa Decimal: 0o115
Hexa Decimal: 0x4d
Decimal: 78
Binary: 0b1001110
Octa Decimal: 0o116
Hexa Decimal: 0x4e
Decimal: 79
Binary: 0b1001111
Octa Decimal: 0o117
Hexa Decimal: 0x4f
Decimal: 80
Binary: 0b1010000
Octa Decimal: 0o120
Hexa Decimal: 0x50
Decimal: 81
Binary: 0b1010001
Octa Decimal: 0o121
Hexa Decimal: 0x51
Decimal: 82
Binary: 0b1010010
Octa Decimal: 0o122
Hexa Decimal: 0x52
Decimal: 83
Binary: 0b1010011
Octa Decimal: 0o123
Hexa Decimal: 0x53
Decimal: 84
Binary: 0b1010100
Octa Decimal: 0o124
Hexa Decimal: 0x54
Decimal: 85
Binary: 0b1010101
Octa Decimal: 0o125
Hexa Decimal: 0x55
Decimal: 86
Binary: 0b1010110
Octa Decimal: 0o126
Hexa Decimal: 0x56
Decimal: 87
Binary: 0b1010111
Octa Decimal: 0o127
Hexa Decimal: 0x57
Decimal: 88
Binary: 0b1011000
Octa Decimal: 0o130
Hexa Decimal: 0x58
Decimal: 89
Binary: 0b1011001
Octa Decimal: 0o131
Hexa Decimal: 0x59
Decimal: 90
Binary: 0b1011010
Octa Decimal: 0o132
Hexa Decimal: 0x5a
Decimal: 91
Binary: 0b1011011
Octa Decimal: 0o133
Hexa Decimal: 0x5b
Decimal: 92
Binary: 0b1011100
Octa Decimal: 0o134
Hexa Decimal: 0x5c
Decimal: 93
Binary: 0b1011101
Octa Decimal: 0o135
Hexa Decimal: 0x5d
Decimal: 94
Binary: 0b1011110
Octa Decimal: 0o136
Hexa Decimal: 0x5e
Decimal: 95
Binary: 0b1011111
Octa Decimal: 0o137
Hexa Decimal: 0x5f
Decimal: 96
Binary: 0b1100000
Octa Decimal: 0o140
Hexa Decimal: 0x60
Decimal: 97
Binary: 0b1100001
Octa Decimal: 0o141
Hexa Decimal: 0x61
Decimal: 98
Binary: 0b1100010
Octa Decimal: 0o142
Hexa Decimal: 0x62
Decimal: 99
Binary: 0b1100011
Octa Decimal: 0o143
Hexa Decimal: 0x63

In [ ]:
#HELP FUNCTION:
#PRINT FUNCTION
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:

#TYPE FUNCTION
help(type)

Help on class type in module builtins:

class type(object)
 |  type(object) -> the object's type
 |  type(name, bases, dict, **kwds) -> a new type
 |
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Specialized __dir__ implementation for types.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __instancecheck__(self, instance, /)
 |      Check if an object is an instance.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Return memory consumption of the type object.
 |
 |  __subclasscheck__(self, subclass, /)
 |      Check if a class is a subclass.
 |
 |  __subclasses__(self, /)
 |      Return a list of immediate subclasses.
 |
 |  mro(self, /)
 |      Return a type's method resolution order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __prepare__(...)
 |      __prepare__() -> dict
 |      used to create the namespace for the class statement
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __abstractmethods__
 |
 |  __annotations__
 |
 |  __dict__
 |
 |  __text_signature__
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __base__ = <class 'object'>
 |      The base class of the class hierarchy.
 |
 |      When called, it accepts no arguments and returns a new featureless
 |      instance that has no instance attributes and cannot be given any.
 |
 |
 |  __bases__ = (<class 'object'>,)
 |
 |  __basicsize__ = 888
 |
 |  __dictoffset__ = 264
 |
 |  __flags__ = 2148031744
 |
 |  __itemsize__ = 40
 |
 |  __mro__ = (<class 'type'>, <class 'object'>)
 |
 |  __weakrefoffset__ = 368

In [ ]:
#ITER FUNCTION:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [ ]:
#INPUT FUNCTION:

help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of google.colab._kernel.Kernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [ ]:
#USER DEFINE FUNCTION:

def sum_of_two(a,b):
  return( a + b)

In [ ]:
sum_of_two(1947,-1945)

2

In [ ]:
sum_of_two(3.14,2.19)

5.33

In [ ]:
sum_of_two(12+3j,11+2j)

(23+5j)

In [ ]:
sum_of_two(True, False)

1

In [ ]:
sum_of_two('Python','Programming')

'PythonProgramming'

In [ ]:
sum_of_two([1,2,3,4,5,6,7],[1,3,5,7,8])

[1, 2, 3, 4, 5, 6, 7, 1, 3, 5, 7, 8]

In [ ]:
sum_of_two((12,34,5,6,77,5,),(12,45,67,88))

(12, 34, 5, 6, 77, 5, 12, 45, 67, 88)

In [ ]:
sum_of_two({1,2,3,4,6,7,8},{2,43,56,7})

TypeError: ignored

In [ ]:
sum_of_two({'a':'apple','b':'ball'},{'d':'dog','e':'elephant'})

TypeError: ignored

what is supervised learning and unsupervised learning
and what is reinforcement learning. Definition of all three and  with three examples each. what are the types of algorithim which are part of supervised learning, unsupervised learning and reinforcement.

In [ ]:
str1 = 'malayalam'

if str1 == str1[::-1]:
  print("The string is palindrome")
else:
  print("This string is not palindrome")

The string is palindrome

* Python File Operation

In [1]:
f = open('my_file_operation.txt','x') # # x is for creating a file.

In [2]:
f = open('my_file_operation.txt','w') #we cannot recreat particular file

In [3]:
f.write('This is my first file operation program.') #we can not read unknown file

40

In [4]:
f = open('my_file_operation.txt', 'r')

In [5]:
f.read()

'This is my first file operation program.'

In [18]:
f = open('my_file_operation.txt', 'a')

In [19]:
f.write('This is set of new text for my file my_file_operation.txt')

57

In [20]:
f = open('my_file_operation.txt', 'r')

In [21]:
f.read()

'This is my first file operation program.This is set of new text for my file my_file_operation.txtThis is set of new text for my file and my_file_operation.txtThis is set of new text for my file my_file_operation.txt'

In [22]:
f = open('This_is_my_another_file','x')

In [23]:
f.write('This is my second file operation program')

40

In [24]:
f = open('This_is_my_another_file','r')

In [25]:
f.read()

'This is my second file operation program'

In [26]:
f = open('This_is_my_another_file','a')

In [27]:
f.write('This is set of another text for my another file.txt')

51

In [28]:
f = open('This_is_my_another_file','r')

In [29]:
f.read()

'This is my second file operation programThis is set of another text for my another file.txt'

*** Exception Handling***


     1.syntax error
     2.logical error
     3.run time error

In [30]:
print('My name is Mayol")

SyntaxError: ignored

In [31]:
for i in range(10)

SyntaxError: ignored

In [32]:
for i in range(10):
print(i)

IndentationError: ignored

In [34]:
2+2 # There should be 5% tax should be applied in there.(logical error)

4

In [36]:
f = open('my_file_operation1.txt','x')

In [37]:
f = open('my_file_operation1.txt','x') #Run time error

FileExistsError: ignored

In [45]:
try:
  f = open('my_file_operation1.txt','x')
except FileExistsError as fee:

  print ('FileExistError Execption',fee)

FileExistError Execption [Errno 17] File exists: 'my_file_operation1.txt'

In [48]:
#Index Error
lst1 = [12,23,34,45,56,67,78,89,90,10,20,30,40,50,60,70,80,90,100]
v_len = len(lst1)
print(v_len,v_len+3)
for i in range(v_len+3):
  print('value inside my list ', lst1[i])

19 22
value inside my list  12
value inside my list  23
value inside my list  34
value inside my list  45
value inside my list  56
value inside my list  67
value inside my list  78
value inside my list  89
value inside my list  90
value inside my list  10
value inside my list  20
value inside my list  30
value inside my list  40
value inside my list  50
value inside my list  60
value inside my list  70
value inside my list  80
value inside my list  90
value inside my list  100

IndexError: ignored

In [49]:
lst1 = [12,23,34,45,56,67,78,89,90,10,20,30,40,50,60,70,80,90,100]
v_len = len(lst1)
print(v_len, v_len+3)
for i in range(v_len+3):
  try:
    print('value inside my list ', lst1[i])
  except IndexError as ie:
    print('IndexError Exception my list is of length ', v_len, 'and trying to fetch index ', v_len+3, ie)

19 22
value inside my list  12
value inside my list  23
value inside my list  34
value inside my list  45
value inside my list  56
value inside my list  67
value inside my list  78
value inside my list  89
value inside my list  90
value inside my list  10
value inside my list  20
value inside my list  30
value inside my list  40
value inside my list  50
value inside my list  60
value inside my list  70
value inside my list  80
value inside my list  90
value inside my list  100
IndexError Exception my list is of length  19 and trying to fetch index  22 list index out of range
IndexError Exception my list is of length  19 and trying to fetch index  22 list index out of range
IndexError Exception my list is of length  19 and trying to fetch index  22 list index out of range

In [50]:
#Attribute Error
tup1 = (1,2,3,4,5,6,7,8,9,10)

tup1.append(11)

AttributeError: ignored

In [51]:
tup1 = (1,2,3,4,5,6,7,8,9,10)
try:
  tup1.append(11)
except AttributeError as ae:
  print('AttributeError Exception ', ae)

AttributeError Exception  'tuple' object has no attribute 'append'

In [52]:
#TypeError
a = 'Python'
b = 10
c = 'Programming'

print(a+b+c)

TypeError: ignored

In [53]:
a = 'Python'
b = 10
c = 'Programming'
try:
  print(a+b+c)
except TypeError as te:
  print('TypeError Execption', te)

TypeError Execption can only concatenate str (not "int") to str

In [56]:
for i in range(10):
print(i)

IndentationError: ignored

In [57]:
#Indentation Error
try:
  for i in range(10):
  print(i)
except IndentationError as ie:
   print('IndentationError', ie)

IndentationError: ignored

In [61]:
try:
  for i in range(10):
   print(i)
except IndentationError as ie:
   print('IndentationError', ie)

0
1
2
3
4
5
6
7
8
9

In [67]:
num = (1,2,3,4,5,6)
odd_num = 1
for num in range(1,7):
  if num == odd_num:
    odd_num.append(numbers)

AttributeError: ignored

In [72]:
num = (1,2,3,4,5,6)
odd_num = 1
for num in range(1,7):
  if num == odd_num:

    try:
      odd_num.append(numbers)
    except AttributeError as ae:
      print('AttributeError',ae)

AttributeError 'int' object has no attribute 'append'