In [ ]:
a = [1,2,3,4,5]

dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# Append or add the value last index of the list
# append() that you can use to add items to the end of a given list.
a = [1,2,3,4,5]
print("Before append", a)
a.append(8)
print("After append",a)

Before append [1, 2, 3, 4, 5]
After append [1, 2, 3, 4, 5, 8]

In [ ]:
# removing all items from the List.
a = [1,2,3,4,5]
print("Before clear",a)
a.clear()
print("after clear",a)
print(len(a))

Before clear [1, 2, 3, 4, 5]
after clear []
0

In [ ]:
#COPY FUNCTION:
# Creates a copy of an existing list.
a = [1,2,3,4,5,6,7]
b = a
c =a.copy()
print("Before Operation Actual list",a)
print("Before Operation Equal to list",b)
print("Before Operation Copy list",c)

#make a operation on a list
#c list stays the same because it got copied before the operation. So, only equal to(=) would change.
a.append(8)
print("After Operation Actual list",a)
print("After Operation Equal to list",b)
print("After Operation Copy list",c)

Before Operation Actual list [1, 2, 3, 4, 5, 6, 7]
Before Operation Equal to list [1, 2, 3, 4, 5, 6, 7]
Before Operation Copy list [1, 2, 3, 4, 5, 6, 7]
After Operation Actual list [1, 2, 3, 4, 5, 6, 7, 8]
After Operation Equal to list [1, 2, 3, 4, 5, 6, 7, 8]
After Operation Copy list [1, 2, 3, 4, 5, 6, 7]

In [ ]:
#COUNT FUNCTION:
# returns the number of times an object appears in a list.
a_list =[1,2,3,4,5,6,7,3,2,33,1,2,3,4]
print(a_list.count(22))
print(a_list.count(1))

0
2

In [ ]:
#EXTEND FUNCTION:
#dds the specified list elements (or any iterable) to the end of the current list.
a_list =[1,2,3,4,5,6,7,3,2,33,1,2,3,4]
a_list.append([8,9,10])
print('Append function',a_list)
print("Append function len",len(a_list))

Append function [1, 2, 3, 4, 5, 6, 7, 3, 2, 33, 1, 2, 3, 4, [8, 9, 10]]
Append function len 15

In [ ]:
a_list = [1,2,3,4,5,6]
a_list.extend([8,9,10])
print('Extend function',a_list)
print("Extend function len",len(a_list))

Extend function [1, 2, 3, 4, 5, 6, 8, 9, 10]
Extend function len 9

In [ ]:
a_list = [1,2,3,4,5,6]
a_list.extend([8,9,10])
print("The number",a_list[7:8])

The number [9]

In [ ]:
a_list = [1,2,3,4,5,6]
a_list.extend([8,9,10])
print(a_list)
print(a_list[6])
print(a_list[6:11])

[1, 2, 3, 4, 5, 6, 8, 9, 10]
8
[8, 9, 10]

In [ ]:
f = ['apple', 'banana', 'cherry','watermelon']

c = ['Mercedes', 'BMW', 'Tesla']

f.extend(c)
print('All the strings',f)

All the strings ['apple', 'banana', 'cherry', 'watermelon', 'Mercedes', 'BMW', 'Tesla']

In [ ]:
a_list = [1,2,3,4,5,6]
a_list.append([8,9,10])
print(a_list)
print(a_list[6][2::-1])

[1, 2, 3, 4, 5, 6, [8, 9, 10]]
[10, 9, 8]

In [ ]:
#INDEX FUNCTION:
#finds the index of a specific element in a sequence.
a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33] #it doesn't care about repition it takes the first number and try indexing
a_list.index(33)

7

In [ ]:
#INSERT FUNCTION:
#Insert a given element at a given index in a list.

a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33]
a_list.insert(5,111)
a_list

[1, 2, 3, 4, 5, 111, 6, 22, 33, 44, 55, 33, 44, 33]

In [ ]:
#POP FUNCTION:
# a pre-defined, in-built function that removes an item at the specified index from the list.
a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33]
print(a_list.pop(0))
print(a_list)

1
[2, 3, 4, 5, 6, 22, 33, 44, 55, 33, 44, 33]

In [ ]:
a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33]
print(a_list.pop(5))
print(a_list)

6
[1, 2, 3, 4, 5, 22, 33, 44, 55, 33, 44, 33]

In [ ]:
#REMOVE FUNCTION:
#one of the ways you can remove elements from a list in Python.

a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33]
a_list.remove(22)
print(a_list)

[1, 2, 3, 4, 5, 6, 33, 44, 55, 33, 44, 33]

In [ ]:
#REVERSE FUNCTION:
# reverses the sorting order of the elements.

a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33]
a_list.reverse()
print(a_list)

[33, 44, 33, 55, 44, 33, 22, 6, 5, 4, 3, 2, 1]

In [ ]:
#SORT FUNCTION:
#sorts the list in ascending order.
a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33]
a_list.sort()
print(a_list)

[1, 2, 3, 4, 5, 6, 22, 33, 33, 33, 44, 44, 55]

In [ ]:
#Descending order
a_list = [1,2,3,4,5,6,22,33,44,55,33,44,33]
a_list.sort(reverse=True)
print(a_list)

[55, 44, 44, 33, 33, 33, 22, 6, 5, 4, 3, 2, 1]

In [ ]:
b_tup= (1,2,3,4,5,6)
dir(b_tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#COUNT FUNCTION:

b_tup= (1,2,3,4,5)
b_tup.count(1)

1

In [ ]:
#INDEX FUNCTION:

b_tup = (1,2,3,4,5,6,7)
b_tup.index(4)

3

In [ ]:
Question 1) Remove all repeated elements from the list Given below using for loop.



a=[1,2,3,4,5,11,1,2,6,1,8]

In [ ]:

# initializing list
a = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : ", (a))

# using set() to remove duplicated from list

a = list(set(a))

print ("After list : ", a)

The original list is :  [1, 5, 3, 6, 3, 5, 6, 1]
After list :  [1, 3, 5, 6]

In [ ]:
a_list = [1, 5, 3, 6, 3, 5, 6, 1]

#1st way with values
for k in a_list:
  print(k)

1
5
3
6
3
5
6
1

In [ ]:
#2nd way with index
a = [1, 5, 3, 6, 3, 5, 6, 1]
for ind in range(len(a)):
  print(a[ind])

1
5
3
6
3
5
6
1

In [ ]:
a = [1, 5, 3, 6, 3, 5, 6, 1]
for ind in range(len(a)):
  print([ind])

[0]
[1]
[2]
[3]
[4]
[5]
[6]
[7]

In [ ]:

a=[1,2,3,4,5,11,1,2,6,1,8]
unique_value =[]
for k in a:
  if k in unique_value:
    print('Repeated value:-', k)
  else:
    unique_value.append(k)
print(unique_value)

Repeated value:- 1
Repeated value:- 2
Repeated value:- 1
[1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
a=[1,2,3,4,5,11,1,2,6,1,8]
print(set(a))

{1, 2, 3, 4, 5, 6, 8, 11}

In [ ]:
Question 2) Print all prime numbers below 100

In [ ]:
for num in range (1, 101):
    count = 0
    for i in range(2, (num//2 + 1)):
        if(num % i == 0):
          count = count + 1

    if (count == 0 and num != 1):
        print((num), end =' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
list_of_prime_numbers =[]
for k in range(2,100):
  flag = True #flag is variable
  for s in range(2,k): #if this condition gets true flag gets false and loop will stop
    if k%s ==0:
      flag = False
      break
  if flag:
      list_of_prime_numbers.append(k)

for primes in list_of_prime_numbers:
  print(primes, 'is a prime number')

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number
23 is a prime number
29 is a prime number
31 is a prime number
37 is a prime number
41 is a prime number
43 is a prime number
47 is a prime number
53 is a prime number
59 is a prime number
61 is a prime number
67 is a prime number
71 is a prime number
73 is a prime number
79 is a prime number
83 is a prime number
89 is a prime number
97 is a prime number

* print list in reverse order using for loop

In [ ]:
list1 = [1, 2, 3, 4, 5]
print("Num before reverse : ",list1)
reversed_list = []
for i in list1:
  reversed_list = [i] + reversed_list
print("Num after reverse : ", reversed_list)

List before reverse :  [1, 2, 3, 4, 5]
List after reverse :  [5, 4, 3, 2, 1]

In [ ]:
list1 = [1, 2, 3, 4, 5]
reverse_list = []

for k in range(1,len(list1)+1):

  print(list1[-k])

5
4
3
2
1

In [ ]:
list1 = [1,2,3,4,5,6,7,8]

for i in list1[::-1]:

  print(i)

8
7
6
5
4
3
2
1

In [ ]:
a = [1,2,3,4,5,6,7]
reverse_list=[]
for k in range(len(a)-1,-1,-1): #7,-1,-1
  reverse_list.append(a[k])

print(reverse_list)

[7, 6, 5, 4, 3, 2, 1]

* print multiplication table of 13 using for loop

In [ ]:
num = 13
print("Multiplication Table of:-", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Multiplication Table of:- 13
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

In [ ]:
#Python program to count the total number of digits in a number.

num = 454556567
print(len(str(num)))

9

In [ ]:
count = 0
a = input('Enter any numbe')

for i in str(a):
  count += 1
  print(count)

Enter any numbe1234
1
2
3
4

In [ ]:
#Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.
a = int(input('First Number'))

b =int(input('Second Number'))

smallest_number = min(a,b)

for k in (smallest_number, -1,-1): #start,stop and step
  if a%k == 0 and b%k == 0:
    print("The GCD is", k)
    break

First Number8
Second Number16
The GCD is 8

In [ ]:
a = 14

print(a/2)
print(a//2)

7.0
7

Question 1 ) Write a program in Python to display the Factorial of a number.

In [ ]:
a = int(input('The number:-'))
factorial = 1
for i in range(1,a+1):
  factorial = factorial * i
print('Factorial of number:-', factorial)

The number:-6
Factorial of number:- 720

WAP to separate positive and negative number from a list.

In [ ]:
list1= [-9,-2,3,4,5,7,-5,6,-7,0]
list2 = []
list3 = []
for i in list1:
    if (i >= 0):
        list2.append(i)
    else:
        list3.append(i)
print('Positive List',list2)
print('Negative List',list3)

Positive List [3, 4, 5, 7, 6, 0]
Negative List [-9, -2, -5, -7]

*display fibonnaci series upto 10 terms

In [ ]:
a = 0
b = 1
print( a, b, end=' ')
for i in range(10):
  c = a + b
  print(c, end=' ')
  a = b
  b = c

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
fibonacci_list = [0,1]
number_of_terms = int(input('Enter the number:-'))
while len(fibonacci_list) < number_of_terms:
  next_term = fibonacci_list[-1]+fibonacci_list[-2]
  fibonacci_list

Enter the number:-7

KeyboardInterrupt: ignored



1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).





2. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)




3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

Expected Output : 0 1 2 4 5

 like 2

In [ ]:
#1 Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).
num = 0
for num in range(1500,2700):

  if num%7 == 0 and num%5 == 0:
    print(num,'can be divisible by 7 and is multiple of 5')

1505 can be divisible by 7 and is multiple of 5
1540 can be divisible by 7 and is multiple of 5
1575 can be divisible by 7 and is multiple of 5
1610 can be divisible by 7 and is multiple of 5
1645 can be divisible by 7 and is multiple of 5
1680 can be divisible by 7 and is multiple of 5
1715 can be divisible by 7 and is multiple of 5
1750 can be divisible by 7 and is multiple of 5
1785 can be divisible by 7 and is multiple of 5
1820 can be divisible by 7 and is multiple of 5
1855 can be divisible by 7 and is multiple of 5
1890 can be divisible by 7 and is multiple of 5
1925 can be divisible by 7 and is multiple of 5
1960 can be divisible by 7 and is multiple of 5
1995 can be divisible by 7 and is multiple of 5
2030 can be divisible by 7 and is multiple of 5
2065 can be divisible by 7 and is multiple of 5
2100 can be divisible by 7 and is multiple of 5
2135 can be divisible by 7 and is multiple of 5
2170 can be divisible by 7 and is multiple of 5
2205 can be divisible by 7 and is multiple of 5
2240 can be divisible by 7 and is multiple of 5
2275 can be divisible by 7 and is multiple of 5
2310 can be divisible by 7 and is multiple of 5
2345 can be divisible by 7 and is multiple of 5
2380 can be divisible by 7 and is multiple of 5
2415 can be divisible by 7 and is multiple of 5
2450 can be divisible by 7 and is multiple of 5
2485 can be divisible by 7 and is multiple of 5
2520 can be divisible by 7 and is multiple of 5
2555 can be divisible by 7 and is multiple of 5
2590 can be divisible by 7 and is multiple of 5
2625 can be divisible by 7 and is multiple of 5
2660 can be divisible by 7 and is multiple of 5
2695 can be divisible by 7 and is multiple of 5

In [ ]:
#2. Write a Python program to count the number of even and odd numbers in a series of numbers Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
odd_num = 0
even_num = 0

for numbers in range(1,9+1):

  if numbers%2 ==0:
    even_num+=1
  else:
    odd_num+=1

print('Even Count',even_num)
print('Odd count',odd_num)

Even Count 4
Odd count 5

In [28]:
#Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

#Expected Output : 0 1 2 4 5

for num in range(7):
  if num!=3 and num!=6:
    print(num,end=" ")

0 1 2 4 5