In [ ]:
set1 = {'apple','r','tesla',1,2,3,8,9,11,22}

dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
#Add Function:
#The add() method adds an element to the set.
#If the element already exists, the add() method does not add the element.



set1 = {'a','b','c','d',"apple", "banana", "cherry",1,2,3,5,2.5,9.4}

set1.add(8.4)

print(set1)

{'d', 'cherry', 'apple', 'c', 1, 2, 3, 'b', 5, 2.5, 9.4, 8.4, 'banana', 'a'}

In [ ]:
#clear function:
#The clear() method removes all elements in a set.

set1 = {'a','b','c','d',"apple", "banana", "cherry",1,2,3,5,2.5,9.4}

set1.clear()

print(set1)

set()

In [ ]:
# Copy Function:
#The copy() method copies the set.

set1 = {'a','b','c','d',"apple", "banana", "cherry",1,2,3,5,2.5,9.4}

print(set1)

set1.copy()

print(set1)

{'d', 'cherry', 'apple', 'c', 1, 2, 3, 'b', 5, 2.5, 9.4, 'banana', 'a'}
{'d', 'cherry', 'apple', 'c', 1, 2, 3, 'b', 5, 2.5, 9.4, 'banana', 'a'}

In [ ]:
set2 = {'Peppa','Prefer','Python','Programming'}
copiedset = set2.copy()
print("Original Set: ", set2)
print("Copied Set: ", copiedset)

Original Set:  {'Prefer', 'Programming', 'Peppa', 'Python'}
Copied Set:  {'Prefer', 'Programming', 'Peppa', 'Python'}

In [ ]:
set2 = {'Peppa','Prefer','Python','Programming'}
copied = set2.copy()
add1 = copied.add('My')
print('Copied set',copied)
print('Added set',add1)

Copied set {'Prefer', 'Python', 'Programming', 'Peppa', 'My'}
Added set None

In [ ]:
#Difference Function:
#The difference() method returns a set that contains the difference between two sets.
#The returned set contains items that exist only in the set, and not in both sets.
#It doesn't execute the elements that are common in both sets.

set1 = {'a','b','c','d',"apple", "banana","Peppa","Programming", "cherry",1,2,3,5,2.5,9.4}
set2 = {'Peppa','Prefer','Python','Programming'}

set3 = set1.difference(set2)
set4 = set2.difference(set1)

print(set3)
print(set4)

{'d', 'cherry', 'apple', 'c', 1, 2, 3, 'b', 5, 2.5, 9.4, 'banana', 'a'}
{'Prefer', 'Python'}

In [ ]:
bathroom_items = {'Paper Towel','Tissue Paper','Shampoo','Conditioner','Moisturizer','Handwash'}
kitchen_items = {'Paper Towel', 'Handwash','Dish Soap','Utensils'}

bathroom_items_only = bathroom_items.difference(kitchen_items)
kitchen_items_only = kitchen_items.difference(bathroom_items)

print(bathroom_items_only)
print(kitchen_items_only)

{'Conditioner', 'Moisturizer', 'Tissue Paper', 'Shampoo'}
{'Dish Soap', 'Utensils'}

In [ ]:
bathroom_items = {'Paper Towel','Tissue Paper','Shampoo','Conditioner','Moisturizer','Handwash'}
kitchen_items = {'Paper Towel', 'Handwash','Dish Soap','Utensils'}

diff = bathroom_items - kitchen_items

bathroom_items_only = print ('Bathroom Items Only:-', diff)

Bathroom Items Only:- {'Conditioner', 'Moisturizer', 'Tissue Paper', 'Shampoo'}

In [ ]:
# Difference Update:
#The difference_update() method removes the items that exist in both sets.
#The difference_update() method removes the unwanted items from the original set.
#The difference_update() removes the second set elements from the first one during the updating process.

num1 = {1,2,3,4,5}
num2 = {1,2,3,9}
num1.difference_update(num2)
print("Number_1: ", num1)
print("Number_2: ", num2)

Number_1:  {4, 5}
Number_2:  {1, 2, 3, 9}

In [ ]:
num1 = {1,2,3,4,5}
num2 = {1,2,3,9}

num2.difference_update(num1)
print("Number_1: ", num1)
print("Number_2: ", num2)

Number_1:  {1, 2, 3, 4, 5}
Number_2:  {9}

In [ ]:
bathroom_items = {'Paper Towel','Tissue Paper','Shampoo','Conditioner','Moisturizer','Handwash'}
kitchen_items = {'Paper Towel', 'Handwash','Dish Soap','Utensils'}

bathroom_items.difference_update(kitchen_items)
print(bathroom_items)
print(kitchen_items)

{'Conditioner', 'Shampoo', 'Moisturizer', 'Tissue Paper'}
{'Dish Soap', 'Paper Towel', 'Handwash', 'Utensils'}

In [ ]:
#Discard Function:
#The discard() method removes the specified item from the set.
#This method is different from the remove() method, because the remove() method will raise an error,
#if the specified item does not exist, and the discard() method will not.

set1 = {"apple", "banana", "cherry"}

set1.discard("banana")
print(set1)

set1.discard("cherry")
print(set1)

{'cherry', 'apple'}
{'apple'}

In [ ]:
set1 = {"apple", "banana", "cherry"}

set1.remove("hello")

print(set1)

KeyError: ignored

In [ ]:
# Intersection Function:
# Returns a new set with the elements that are common in the given sets.

x = {'Paper Towel','Tissue Paper','Shampoo','Conditioner','Moisturizer','Handwash'}
y = {'Paper Towel', 'Handwash','Dish Soap','Utensils'}


z = x.intersection(y)

print(z)

{'Paper Towel', 'Handwash'}

In [ ]:
num = {1, 2, 3, 4, 5}
odd_num = {1, 3, 5, 6, 7, 9}
prime_num = {2, 3, 5, 7}
common_num = num.intersection(odd_num, prime_num)
print("Common elements: ", common_num)

Common elements:  {3, 5}

In [ ]:
#Intersection_Update Function:
#Remove the items that is not present in both x and y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
nums = {1,2,3,4,5}
odd_num = {1, 3, 5, 7,9}
nums.intersection_update(odd_num)
print(nums)

{1, 3, 5}

In [ ]:
nums = {1, 2, 3, 4, 5 }
oddNums = {1, 3, 5, 7, 9}
nums.intersection_update(oddNums)
print("Updated set: ", nums)

Updated set:  {1, 3, 5}

In [ ]:
#Isdisjoint Function:
#Returns true if the given sets have no common elements. Sets are disjoint if and only if their intersection is the empty set.

num = {1, 2, 3, 4, 5 }
odd_num = {1, 3, 5, 7, 9}
prime_num = {7, 11, 13}

num1 = num.isdisjoint(odd_num)
num2 = num.isdisjoint(prime_num)

print( num1 )
print( num2 )

False
True

In [ ]:
set1 = {'a','b','c','d','e'} # Returninf false if there is common elements.
list1 = ['b','c','d']
str1 = 'ghij'
dict1 = {'a':1,'b':2}
tuple1 = ('x', 'y', 'z')

print(set1.isdisjoint(list1))
print(set1.isdisjoint(str1))
print(set1.isdisjoint(dict1))
print(set1.isdisjoint(tuple1))

False
True
False
True

In [ ]:
# Issubset Function:
# Returns true if the set contains every element of the other set passed as an argument.
# Returns whether another set contains this set or not

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [ ]:
num = {1, 2, 3, 4, 5 }
odd_num = { 1,3,5}
prime_num = {11, 13, 7}

nums = odd_num.issubset(num)

print(nums)

True

In [ ]:
# Pop function
# removes and returns a random element from the set.

set1 = {"apple", "banana", "cherry",'figs'}

set1.pop()

print(set1)

{'cherry', 'banana', 'apple'}

In [ ]:
cities = {'Pokhara','Kathmandu','New York'}

city = cities.pop()
print('Poped element 1: ', city)
print("Updated set: ", cities)

city = cities.pop()
print('Poped element 2: ', city)
print("Updated set: ", cities)

city = cities.pop()
print('Poped element 3: ', city)
print("Updated set: ", cities)

Poped element 1:  Pokhara
Updated set:  {'Kathmandu', 'New York'}
Poped element 2:  Kathmandu
Updated set:  {'New York'}
Poped element 3:  New York
Updated set:  set()

In [ ]:
# Remove Function:
# It removes the specified element from the set. If the specified element is not found, raise an error.

set1 = {"apple", "banana", "cherry",'figs'}

set1.remove('apple')
print(set1)

set1.remove('banana')
print(set1)

set1.remove('cherry')
print(set1)

set1.remove('figs')
print(set1)

{'figs', 'cherry', 'banana'}
{'figs', 'cherry'}
{'figs'}
set()

In [ ]:
# Symmetric_difference() Method
#Return a set that contains all items from both sets, except items that are present in both sets:

nums1 = {1,2,3,4,5}
nums2 = {4,5,6,7,8}
nums3 = nums1.symmetric_difference(nums2)
print("New set: ", nums3)

New set:  {1, 2, 3, 6, 7, 8}

In [ ]:
x = {"a", "b", "c"} #Execute not common elements
y = {"f", "e", "d", "c", "b", "a"}

z =x.symmetric_difference(y)
print(z)

{'d', 'f', 'e'}

In [ ]:
# symmetric_difference_update()
#Remove the items that are present in both sets, AND insert the items that is not present in both sets:
#It updates the original set by removing items that are present in both sets, and inserting the other items.



x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

x.symmetric_difference_update(y)

print(x)

{'d', 'f', 'e'}

In [ ]:
nums1 = {1,2,3,4,5}
nums2 = {4,5,6,7,8}

nums1.symmetric_difference_update(nums2)

print(nums1)

{1, 2, 3, 6, 7, 8}

In [ ]:
nums = {1, 2, 3, 4, 5 }
oddNums = {1, 3, 5, 7, 9}
nums.symmetric_difference_update(oddNums)
print("Updated set: ", nums)

Updated set:  {2, 4, 7, 9}

In [ ]:
# Union Function:
#Return a set containing the union of sets
#returns a new set with distinct elements from all the given sets.

num1 = {1, 2, 2, 3, 4, 5}
num2 = {4, 5, 6, 7, 7, 8}

nums = nums1.union(nums2)

print("The union of two sets is: ", nums)

The union of two sets is:  {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.union(y)

print(z)

{'d', 'c', 'b', 'f', 'e', 'a'}

In [ ]:
# Update Function:
# Update the set with another set, or any other iterable:

nums = {1, 2, 3}
primeNums = [2, 3, 5, 7]

nums.update(primeNums)
print("Updated set: ", nums)

Updated set:  {1, 2, 3, 5, 7}

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

x.update(y)

print(x)

{'d', 'c', 'b', 'f', 'e', 'a'}

In [ ]:
nums = {1, 2, 3}
oddNums = [1, 3, 5, 7, 9]
evenNums = (2, 4, 6, 8, 10)

nums.update(oddNums) # adding list elements
print("Updated set: ", nums)

nums.update(evenNums) # adding tuple elements
print("Updated set: ", nums)